<div class="bg-blue-700 rounded-s-xl">
  <div class="max-w-screen-xl mx-auto">
    <div class="flex justify-between pt-16 pb-16 gap-14">
      <div>
        <img
          class="rounded-xl"
          width="1000"
          height="800"
          src="../../../../assets/typesOf_first.jpg"
          alt=""
        />
      </div>
      <div class="flex justify-center flex-col">
        <h1 class="text-gray-400 mb-4 text-2xl font-semibold leading-tight">
          #TRAININGYM
        </h1>
        <div class="mb-5 text-4xl font-semibold text-gray-200">
          Gym for 24/7
        </div>
        <p class="text-white mb-5 text-lg font-normal leading-relaxed">
          From mat towel to beach towel, savasana to sun bathing, feel your best
          heading into summer by signing up for the May 30 Day Challenge. Starts
          May 1st.
        </p>
      </div>
    </div>
    <div class="border w-3/4 m-auto"></div>
    <div class="flex justify-between pt-16 pb-16 gap-14">
      <div class="flex justify-center flex-col">
        <h1 class="text-gray-400 mb-4 text-2xl font-semibold leading-tight">
          #GGG
        </h1>
        <div class="mb-5 text-4xl font-semibold text-gray-200">
          Boxing against GGG
        </div>
        <p class="text-white mb-5 text-lg font-normal leading-relaxed">
          Fitness boxing is an excellent cardio workout that improves strength,
          aerobic levels, and cognitive skills.
        </p>
      </div>
      <div>
        <img
          class="rounded-xl"
          width="1000"
          height="800"
          src="../../../../assets/typesOf_second.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="border w-3/4 m-auto"></div>
    <div class="flex justify-between pt-16 pb-16 gap-14">
      <div>
        <img
          class="rounded-xl"
          width="1000"
          height="800"
          src="../../../../assets/typesOf_third.jpg"
          alt=""
        />
      </div>
      <div class="flex justify-center flex-col">
        <h1 class="text-gray-400 mb-4 text-2xl font-semibold leading-tight">
          #MEDITATIONANDYOGA
        </h1>
        <div class="mb-5 text-4xl font-semibold text-gray-200">
          Yoga for 24/7
        </div>
        <p class="text-white mb-5 text-lg font-normal leading-relaxed">
          Yoga is a mind and body practice that can build strength and
          flexibility. It may also help manage pain and reduce stress.
        </p>
      </div>
    </div>
    <div class="border w-3/4 m-auto"></div>
    <div class="flex justify-between pt-16 pb-16 gap-14">
      <div class="flex justify-center flex-col">
        <h1 class="text-gray-400 mb-4 text-2xl font-semibold leading-tight">
          #KOREANSPORT
        </h1>
        <div class="mb-5 text-4xl font-semibold text-gray-200">
          Taekwondo with professional coach
        </div>
        <p class="text-white mb-5 text-lg font-normal leading-relaxed">
          Taekwondo also spelled tae kwon do or taekwon-do, is a Korean martial
          art and combat sport involving punching and kicking techniques.
        </p>
      </div>
      <div>
        <img
          class="rounded-xl"
          width="1000"
          height="800"
          src="../../../../assets/typesOf_fourth.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="border w-3/4 m-auto"></div>
    <div class="flex justify-between pt-16 pb-16 gap-14">
      <div>
        <img
          class="rounded-xl"
          width="1000"
          height="800"
          src="../../../../assets/typesOf_fifth.jpg"
          alt=""
        />
      </div>
      <div class="flex justify-center flex-col">
        <h1 class="text-gray-400 mb-4 text-2xl font-semibold leading-tight">
          #JAPANESESPORT
        </h1>
        <div class="mb-5 text-4xl font-semibold text-gray-200">
          Karate with Sempai
        </div>
        <p class="text-white mb-5 text-lg font-normal leading-relaxed">
          Karate is a Japanese martial art whose physical aspects seek the
          development of defensive and counterattacking body movements.
        </p>
      </div>
    </div>
  </div>
</div>
