<div class="max-w-screen-xl mx-auto">
  <div class="main mb-32 rounded-e-xl">
    <div class="main__first flex justify-between mt-14 mb-32">
      <div class="text-2xl font-bold mr-20">
        ResilienceRealm - this is a new way to add sports to your life
      </div>
      <div class="text-lg font-normal leading-9">
        An application in which we have collected several dozen activities.
        Everything from yoga to crossfit
      </div>
    </div>
    <div class="main__second flex justify-between gap-12">
      <div>
        <div
          class="mb-5 bg-orange-500 rounded-full w-10 h-10 text-lg text-white flex justify-center items-center"
        >
          1
        </div>
        <div>
          <h1 class="text-2xl font-bold">It's profitable</h1>
          <p class="text-lg font-normal leading-9">
            You do not pay for the gym and pool separately
          </p>
        </div>
      </div>
      <div>
        <div
          class="mb-5 bg-orange-500 rounded-full w-10 h-10 text-lg text-white flex justify-center items-center"
        >
          2
        </div>
        <div>
          <h1 class="text-2xl font-bold">Differently</h1>
          <p class="text-lg font-normal leading-9">
            Any activity - from fencing to rock climbing
          </p>
        </div>
      </div>
      <div>
        <div
          class="mb-5 bg-orange-500 rounded-full w-10 h-10 text-lg text-white flex justify-center items-center"
        >
          3
        </div>
        <div>
          <h1 class="text-2xl font-bold">And in installments</h1>
          <p class="text-lg font-normal leading-9">
            Via Kaspi, Jusan, Eurasian or Freedom Bank
          </p>
        </div>
      </div>
      <div>
        <div
          class="mb-5 bg-orange-500 rounded-full w-10 h-10 text-lg text-white flex justify-center items-center"
        >
          4
        </div>
        <div>
          <h1 class="text-2xl font-bold">And in any city</h1>
          <p class="text-lg font-normal leading-9">
            Almaty, Astana, Shymkent, Uralsk
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
